:root {
    color-scheme: dark;
}
@keyframes slidein-left {
    from {
        margin-left: -30%;
    }
    to {
        margin-left: 3%;
    }
}
@keyframes slidein-title {
    from {
        margin-left: -30%;
    }
    to {
        margin-left: 15px;
    }
}
/*
@keyframes slideup {
    from {
        margin-top: -5%;
    }
    to {
        margin-top: 0%;
    }
}
*/
@media screen and (max-width: 900px) {
    .pane-container {
        white-space: normal;
    }
}
@media screen and (min-width: 900px) {
    .pane-container {
        white-space: nowrap;
    }
}
@media screen and (max-width: 900px) {
    .topnav a {display: none;}
    .topnav a.ham-menu {
      float: right;
      display: block;
      margin-top: 5%;
    }
}
@media screen and (max-width: 900px) {
    .topnav.responsive {position: fixed;}
    .topnav.responsive a {
        display: flex;
        float: none;
        display: block;
        text-align: left;
        top: 75px;
    }
    .topnav.responsive a.ham-menu {
        position: absolute;
        right: 0;
        top: 0;
    }
}
html {
    height: 100%;
}
body:before {
	content:"";
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	z-index:-1; 
	background:#222831;
    background-image: linear-gradient(32deg, #200F21, #382039);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
.navbar {
    position: relative;
    z-index: 100;
}
.topnav {
    position: fixed;
    background-color: #200F21;
    height: 75px;
    line-height: 75px;
    border-bottom: 5px solid #000000;
    display: flex;
    justify-content: end;
    text-shadow: 1px 1px #000000;
    text-transform: uppercase;
    font-weight: bolder;
    width: 100%;
}
.icon {
    position: absolute;
    height: 50px;
    left: 15px;
    top: 10px;
    filter: brightness(.8) contrast(1.2);
}
.topnav .heading {
    font-size: 25px;
    text-transform: lowercase;
    position: absolute;
    left: 75px;
    color: orange;
    user-select: none;
    font-weight: bold;
}
.topnav .nav-links {
    margin-right: 2%;
    display: flex;
    letter-spacing: 3px;
    font-size: 28px;
    list-style: none;
    z-index: 50;
}
.topnav .nav-links li, a {
    font-size: large;
    color: crimson;
    text-decoration: none;
    /*padding: 10px 60px;*/
    padding: 0px 20px;
    transition: all 250ms ease-in-out;
}
.topnav .nav-links a:hover {
    color: darkred;
}
.topnav .nav-links .active {
    color: chartreuse;
}
.topnav .nav-links .active:hover {
    color: darkgoldenrod;
}
.topnav .ham-menu {
    display: none;
}

.content {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 100px;
}
.content .pane {
    display: inline-block;
    margin: 3%;
    max-width: 80%;
    animation-duration: 1s;
    animation-name: slidein-left;
}
.content .text {
    white-space: normal;
    color: #DEDEDE;
    display: inline-block;
    vertical-align: top;
    margin: 3% 0%;
    margin-right: 3%;
    font-size: x-large;
    width: 66%;
}
.interests {
    margin-top: 3%;
    margin-bottom: 3%;
    justify-content: space-around;
    width: 100%;
}
.interests .header {
    /*position: sticky;
    top: 75px;*/
    margin: 0 auto;
    width: 500px;
    border-top: 3px solid rgb(37, 28, 28);
    border-bottom: 3px solid rgb(37, 28, 28);
    height: 70px;
    line-height: 70px;
    background-color: #D89216;
    text-align: center;
    text-transform: uppercase;
    color: #1d1e22;
    letter-spacing: 15px;
    font-size: x-large;
    margin-bottom: 5%;
    text-shadow: 2px 2px #000000;
    z-index: 50;
    padding: 0px 5px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.interests .heading {
    text-align: center;
    text-transform: uppercase;
    margin-top: 7px;
    letter-spacing: 4px;
    color: antiquewhite;
    margin-bottom: 5%;
    border-top: 3px solid #949494;
    border-bottom: 3px solid #949494;
    margin-top: 3%;
    margin-bottom: 5%;
    justify-content: space-around;
    width: 100%;
    padding: 8px;
}
.interests-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: 50;
    width: 100%;
    overflow: visible;
}
.col {
    background-color: #222831;
    padding: 5px;
    text-align: center;
    display: inline-block;
    max-width: 500px;
    margin: 10px;
    margin-bottom: 5%;
    margin-right: 15px;
    justify-content: center;
    transition-property: transform;
    transition-duration: 300ms;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 550px;
    animation-name: slideup;
    animation-duration: 500ms;
}
.interests-items .col:hover {
    transform: scale(1.3);
    z-index: 60;
}
.interests-items .img {
    text-align: center;
    height: 210px;
    filter: brightness(.8) contrast(1.2);
    width: 100%;
    margin-bottom: 7%;
    margin-top: 8%;
}
.interests-items .text {
    text-align: center;
}
.about {
    text-align: left;
    display: block;
    width: auto;
    border-top: 5px solid rgba(0, 0, 0, 0.2);
    background-color: #11435e9a;
    height: max-content;
}
.about .text {
    color: #A0D2EB;
    margin: 2%;
    width: 95%;
}
.page-header {
    position: absolute;
    text-align: center;
    max-width: 90%;
    padding: 0 5%;
    background-color: #D89216;
    text-align: center;
    line-height: 100px;
    margin: 150px 15px;
    letter-spacing: 15px;
    color: #30475E;
    font-weight: bolder;
    text-transform: uppercase;
    z-index: 50;
    font-size: x-large;
    max-height: max-content;
    border-bottom-right-radius: 20px;
    animation-duration: 500ms;
    animation-name: slidein-title;
}
.projects-items .heading {
    text-align: center;
    text-transform: uppercase;
    margin-top: 7px;
    letter-spacing: 4px;
    color: antiquewhite;
    margin-bottom: 5%;
    border-top: 3px solid #949494;
    border-bottom: 3px solid #949494;
    margin-top: -10%;
    margin-bottom: 5%;
    justify-content: space-around;
    width: 100%;
    padding: 8px;
}
.projects-items .col{
    height: max-content;
    width:75%;
    transition-property: none;
}
.projects-items .col:hover {
    transform: none;
}
.projects-items .img {
    margin-top: 5%;
    height: max-content;
    overflow: hidden;
    transition: all 300ms ease-in-out;
}
.projects-items .img:hover {
    transform: scale(1.3);
    z-index: 60;
}
.socials {
    margin: 0 auto;
    height: 25%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 10%;
    overflow: hidden;
    padding: 150px 100px;
}
.socials img {
    text-align: center;
    display: inline-block;
    justify-content: center;
    max-width: 400px;
    border-radius: 50%;
    padding: 5px;
    margin: 0 auto;
    filter: brightness(.8) contrast(1.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.socials .socialmedia {
    position: relative;
    left: 150px;
    bottom: 70px;
}
.linkedin, .instagram, .discord, .github {
    transition: all 300ms;
}
.linkedin:hover, .instagram:hover, .discord:hover, .github:hover {
    transform: scale(1.3);
    z-index: 50;
}
.socials .text {
    margin-top: -20%;
    margin-left: 10%;
    color: #A0D2EB;
    font-size: xx-large;
    text-shadow: 1px 1px #000000;
}